
/* Alter footer sizing */

#footer .navbar {
	margin-bottom: 0;
}

/* Start Sticky-footer styles */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#content {
	overflow: auto;
	padding-bottom: 52px; /* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -52px; /* negative value of footer height */
	height: 52px;
	clear: both;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

/* End Sticky-footer styles */
