
/* Alter footer sizing */

#footer .navbar {
	margin-bottom: 0;
}

/* Start Sticky-footer styles */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#content {
	overflow: auto;
	padding-bottom: 52px; /* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -52px; /* negative value of footer height */
	height: 52px;
	clear: both;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

/* End Sticky-footer styles */

/* Make room for G+1 button */
#footer p.navbar-text.gplus {
	margin-top: 11px;
	margin-bottom: 10px;
}

/* Allow for more tightly packed story headers */

.char-view-story ul.entries {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.char-view-story ul.entries li.entry .page-header {
	padding-bottom: 0;
	margin: 0 0 10px;
}

.char-view-story ul.entries li.entry .controls {
	overflow: hidden;
	border-top: 1px solid #eeeeee;
	padding-top: 5px;
}

.char-view-story ul.entries li.entry.well:hover,
.char-view-story ul.entries li.entry.well.active {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}