<div class="char-view-story">

	<ul class="entries">

		<li class="entry well well-sm"
		    ng-repeat="entry in story.entries"
			ng-class="{ active: entry.active }"
			ng-click="select($event, entry)">

			<div class="page-header">
				<h4>
					{{ entry.title }}
					<small class="pull-right">{{ entry.date }}</small>
				</h4>
			</div>

			<p ng-show="entry.text">{{ entry.text }}</p>

			<div class="alert alert-warning"
			     ng-hide="entry.text">This entry needs content.</div>

		</li>

	</ul>

</div>