<div class="char-view">

	<div class="panel panel-default" ng-show="flags.showDetail">

		<div class="panel-heading">
			<ul class="nav nav-pills">

				<li ng-class="{ active: panes.summary && panes.summary.active }" ng-show="panes.summary">
					<a href="#/char/{{ selected }}/summary">Summary</a>
				</li>

				<li ng-class="{ active: panes.crunch && panes.crunch.active }" ng-show="panes.crunch">
					<a href="#/char/{{ selected }}/crunch">Crunch</a>
				</li>

				<li ng-class="{ active: panes.story && panes.story.active }" ng-show="panes.story">
					<a href="#/char/{{ selected }}/story">Story</a>
				</li>

				<li ng-class="{ active: panes.actions && panes.actions.active }" ng-show="panes.actions">
					<a href="#/char/{{ selected }}/actions">Actions</a>
				</li>

			</ul>
		</div>

		<div class="panel-body">

			<div chron-char-view-summary
			     ng-show="panes.summary && panes.summary.active"
			     selected="selected"></div>

			<div chron-char-view-crunch
			     ng-show="panes.crunch && panes.crunch.active"
			     selected="selected"></div>

			<div chron-char-view-story
			     ng-show="panes.story && panes.story.active"
			     selected="selected"></div>

			<div chron-char-view-actions
			     ng-show="panes.actions && panes.actions.active"
			     selected="selected"></div>

		</div>

	</div>

	<div ng-show="flags.showMissing">
		<h1>No data for character.</h1>
	</div>

	<div ng-show="flags.showIntro">
		<h2>Select a Character</h2>
	</div>

</div>