extends layout

block content

	.page-title
		h1 About <small>what you're using</small>

	.row
		.col-md-4
			h2 Chronicler
			p TODO!
			p.
				View on:
				<a href="https://github.com/aetheric/chron-web" target="_blank">Github</a>,
				<a href="https://plus.google.com/100072512339103581912" rel="publisher" target="_blank">Google+</a>.

		.col-md-4
			h2 Aetheric Engineering
			p TODO!
			p.
				View on:
				<a href="https://github.com/aetheric" target="_blank">Github</a>,
				<a href="https://plus.google.com/107720957407285148973" target="_blank">Google+</a>.

		.col-md-4
			h2 Peter Cummuskey
			p TODO!
			p.
				View on:
				<a href="https://github.com/tzrlk" target="_blank">Github</a>,
				<a href="https://plus.google.com/+PeterCummuskey" target="_blank">Google+</a>,
				<a href="https://www.linkedin.com/in/petercummuskey" target="_blank">LinkedIn</a>.
