extends layout

block content

	.page-title
		h1 About <small>what you're using</small>

	.row.well
		h2 Chronicler
		p TODO!

	.row.well
		h2 Aetheric Engineering
		p TODO!

	.row.well
		h2 Peter Cummuskey
		p TODO!
