extends layout

block content

	.page-title
		h1 About <small>what you're using</small>

	.row
		.col-md-4
			h2 Chronicler
			p.
				This application is born of a love or LARP, and is dedicated to narrowing the gaps between writer and player. If you detect any technical issues, or wish to contribute to the application, the web-client source is available on Github.
			p.
				View on:
				<a href="https://github.com/aetheric/chron-web" target="_blank">Github</a>,
				<a href="https://plus.google.com/100072512339103581912" rel="publisher" target="_blank">Google+</a>.

		.col-md-4
			h2 Aetheric Engineering
			p.
				A software house dedicated to producing fine works of code. Aetheric bankrolls this whole operation, and handles all the proceeds. Project announcements are broadcast on Google+, so follow and stay up-to-date.
			p.
				View on:
				<a href="https://github.com/aetheric" target="_blank">Github</a>,
				<a href="https://plus.google.com/107720957407285148973" target="_blank">Google+</a>.

		.col-md-4
			h2 Peter Cummuskey
			p.
				The lead developer on this application. Peter is a LARPer and a Software Engineer, and has combined both of these loves into this fine piece of software.
			p.
				View on:
				<a href="https://github.com/tzrlk" target="_blank">Github</a>,
				<a href="https://plus.google.com/+PeterCummuskey" target="_blank">Google+</a>,
				<a href="https://www.linkedin.com/in/petercummuskey" target="_blank">LinkedIn</a>.
