doctype xml
doctype html
html(manifest='/cache.mf')
	head
		title Chronicler

		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet", media="screen", href="/lib/bootstrap.css")
		link(rel="stylesheet", media="screen", href="/css/styles.css")
		script(data-main="/app/assets.js", src="/lib/require.js")
	body

		#wrap: #content

			.directive(chron-navbar)
				include navbar

			.container(ng-view)

				.page-header
					h1 Chronicler is loading <small>please be patient</small>

				p.
					If the loading process takes longer than a minute, something may
					have gone wrong. To make sure, clear your browser cache and refresh
					the page. If the application still isn't loading, contact the
					developer.

		#footer
			.directive(chron-footer)
				include footer