extends layout

block content

	.jumbotron
		h1 Chronicler
		p Welcome to a brave new world of Live-action Roleplaying!
		p: a.btn.btn-lg.btn-success(href='/index', role='button') View The Index

	.row

		.col-md-4
			h2 One-off
			p.
				Search for "one-off" style games that can challenge and entertain you without the need to commit to a long-term campaign.
			p: a.btn(href='/index?type=single') View listings &raquo;

		.col-md-4
			h2 Campaign
			p.
				Join into a story spread across multiple episodes with Campaign games. Join the players as a character seeking to unravel the mysteries of the events surrounding the group, or experience the variety of roles available as a member of the crew.
			p: a.btn(href='/index?type=camp') View listings &raquo;

		.col-md-4
			h2 Help Wanted
			p.
				Games are being written and designed every day. If you have skills that would help put one together, or simply have the time and imagination to lend a hand, find a game and contribute.
			p: a.btn(href='/index?status=writing') View listings &raquo;

	// Add news items here
