doctype xml
doctype html
html
	head
		if title
			title #{title} | Chronicler
		else
			title Chronicler

		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(rel='stylesheet', media='screen', href='/lib/bootstrap.css')
		link(rel='stylesheet', media='screen', href='/css/styles.css')
		if script
			script(data-main="#{script}", src="/lib/require.js")
	body

		#wrap: #content
			include navbar
			.container: block content

		#footer
			include footer
